<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/landing">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container custom-content">
  <ion-header collapse="condense">
  </ion-header>


  <h1 class="ion-text-center" id="bnd">LAGNA</h1>

  <b class="ion-text-center">
  </b>

  <!-- CREACIÓN DE FORM REGISTRO -->
  <!-- CREACIÓN DE FORM REGISTRO -->

  <form [formGroup]="regForm" novalidate class="">
    <!-- Campo para colocar el nombre -->
    <ion-item class="form">
      <ion-label position="" class="Label">Nombre</ion-label>
      <ion-input formControlName="nombre" placeholder="Coloca tu nombre" class="colorPlaceHolder"></ion-input>
    </ion-item>

    <div class="shake-horizontal" *ngIf="this.regForm.controls?.['nombre'].touched && this.regForm.controls?.['nombre'].invalid">
      <ion-text class="error" *ngIf="errorControl.nombre.errors?.required">
        Se requiere Nombre
      </ion-text>
    </div>

    <br>
    <!-- Campo para colocar el apellido -->
    <ion-item class="form">
      <ion-label position="" class="Label">Apellido</ion-label>
      <!-- agrego en el formcontrolname el mismo nombre que se encuentra en page.ts, en el form builder -->
      <ion-input formControlName="apellido" placeholder="Coloca tu apellido" class="colorPlaceHolder"></ion-input>
    </ion-item>

    <div class="shake-horizontal" *ngIf="this.regForm.controls?.['apellido'].touched && this.regForm.controls?.['apellido'].invalid">
      <ion-text class="error"  *ngIf="errorControl.apellido.errors?.required">
        Se requiere apellido
      </ion-text>
    </div>

    <br>
    <!-- Campo para colocar la fecha de nacimiento -->
    <ion-item class="form">
      <ion-label position="" class="Label">Fecha de nacimiento</ion-label>
      <!-- agrego en el formcontrolname el mismo nombre que se encuentra en page.ts, en el form builder -->
      <ion-input formControlName="fechaNac" placeholder="Coloca tu fecha de nacimiento" type="date"
        class="colorPlaceHolder"></ion-input>
    </ion-item>

    <div class="shake-horizontal" *ngIf="this.regForm.controls?.['fechaNac'].touched && this.regForm.controls?.['fechaNac'].invalid">
      <ion-text class="error"  *ngIf="errorControl.fechaNac.errors?.required">
        Se requiere fecha de nacimiento
      </ion-text>
    </div>

    <br>
    <!-- Campo para colocar el correo electronico -->
    <ion-item class="form">
      <ion-label position="" class="Label">Email</ion-label>
      <!-- agrego en el formcontrolname el mismo nombre que se encuentra en page.ts, en el form builder -->
      <ion-input formControlName="email" placeholder="Coloca tu nombre" type="email"
        class="colorPlaceHolder"></ion-input>
    </ion-item>

    <div class="shake-horizontal" *ngIf="this.regForm.controls?.['email'].touched && this.regForm.controls?.['email'].invalid">
      <ion-text class="error"  *ngIf="errorControl.email.errors?.required">
        El correo es requerido
      </ion-text>
      <ion-text class="error"  *ngIf="errorControl.email.errors?.pattern">
        El correo debe ser valido
      </ion-text>
    </div>

    <br>
    <!-- Campos para colocar la contraseña y reingresarla denuevo -->
    <ion-item class="form">
      <ion-label position="" class="Label">Contraseña</ion-label>
      <!-- agrego en el formcontrolname el mismo nombre que se encuentra en page.ts, en el form builder -->
      <ion-input formControlName="password" placeholder="Ingresa tu contraseña" type="password"
        class="colorPlaceHolder"></ion-input>
    </ion-item>

    <div class="shake-horizontal" *ngIf="this.regForm.controls?.['password'].touched && this.regForm.controls?.['password'].invalid">
      <ion-text class="error" *ngIf="errorControl.password.errors?.required">
        Se requiere contraseña.
      </ion-text>
      <ion-text class="error" *ngIf="errorControl.password.errors?.pattern">
        La contraseña debe contener 8 caracteres.
      </ion-text>
    </div>

    <!--CREACIÓN DE BUTTON ACEPTAR  -->
    <div class="ion-text-center">
      <ion-button [disabled]= "!isFormValid" (click)="signUp()"  shape="round" id="btnAceptar">Aceptar</ion-button>
    </div>

  </form>

</ion-content>