<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/inicio/principal">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mensaje e imagen cuando no hay bodas disponibles -->
  <div *ngIf="bodas.length === 0" class="container" id="sinDatos">
    <!-- Lottie animation para cuando no hay datos -->
    <lottie-player src="https://lottie.host/e926bd67-59ef-4ed0-8950-b5d3ee1fbcfd/X4qSfPeZJa.json" autoplay loop></lottie-player>
    <h1>No se han encontrado bodas, añádela más abajo</h1>
  </div>

  <!-- Datos de las bodas cuando ya existen creadas -->
  <ion-list *ngIf="bodas.length > 0" id="fondoImg">
    <div *ngFor="let boda of bodas; let i = index" id="fondoImg">
      <ion-title id="tituloBoda">TU BODA</ion-title>
      <ion-card>
        <ion-card-header>
          <img src="../../../assets/imagenPrueba.png" alt="Prueba">
        </ion-card-header>
        <ion-card-content class="custom-content">
          <div class="ion-text-center">
            <ion-label class="titulosLabels"> Descripcion </ion-label>
            <p class="camposBoda"> <strong>{{ boda.descripcion }}</strong> </p>
            <ion-label class="titulosLabels">Cuando se realizara la boda?</ion-label>
            <p class="camposBoda"><strong>{{ boda.fecha | date: 'EEEE, d MMMM y' }}</strong></p>
            <ion-label class="titulosLabels">Lugar del evento</ion-label>
            <p class="camposBoda"><strong>{{ boda.lugar }}</strong></p>
            <ion-label class="titulosLabels">Cóctel</ion-label>
            <p class="camposBoda"><strong>{{ boda.tragoestrella }}</strong></p>
          </div>
          <!-- Botón para eliminar la boda específica -->
          <ion-button color="danger" (click)="eliminar(boda, currentUserId)" expand="block">
            Eliminar Boda
          </ion-button>
          <ion-button color="warning" (click)="editar(boda, currentUserId)" expand="block">
            Modificar boda
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>  
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  <!-- Botón flotante para añadir una nueva boda -->
  <ion-fab *ngIf="bodas.length === 0" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addboda">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
