<ion-content [fullscreen]="true">

  <div class="textoerror">
    <h1 id="titulo">Error 404</h1>
    <p>Página no encontrada :(</p>
  </div>
  <div class="container">
    <lottie-player slot="end" autoplay loop src="https://lottie.host/d050413d-8f2b-4efb-aef0-3c25cf05052f/1Dau8gKfqE.json">
    </lottie-player>
  </div>

  <div>
    <p class="textoreferente">La pagina que estabas buscando fue eliminada, cambio su nombre o se encuentra temporalmente deshabilitada.</p>
    <ion-button id="button" routerLink="/inicio" expand="block" shape="round">
      Volver al inicio
    </ion-button>
  </div>

</ion-content>
