@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}


.container{
    align-items: center;

}

.textoerror{
    text-align: center;
    margin: 25% 0px 0px 0px;

}

#button{
    margin: 0px 30px 0px 30px;
}


#titulo{
    font-size: 50px;
}

.textoreferente{
    text-align: center;
    font-size: medium;
    margin: 0px 20px 50px 20px;
}