<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Volver a Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/inicio">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding-vertical">
    <ion-card class="ion-text-center">
      <ion-card-title>
        <h1 id="datos">Modificar Datos</h1>
      </ion-card-title>

      <ion-card-content>
        <!-- Los campos de entrada ahora están vinculados a las propiedades de la instancia de 'Boda' -->
        <ion-item class="wordwrap">
          <img src="../../../assets/icon/pencil-heart.svg" alt="writing idea">
          <ion-input label="Descripción" labelPlacement="floating" placeholder="Escribe algo!" [(ngModel)]="boda.descripcion"></ion-input>
        </ion-item>

        <ion-item class="wordwrap">
          <img src="../../../assets/icon/heart-star.svg" alt="invitado estrella">
          <ion-input label="Invitado destacado" labelPlacement="floating" placeholder="Coloca tu invitado especial" [(ngModel)]="boda.investrella"></ion-input>
        </ion-item>

        <ion-item class="wordwrap">
          <img src="../../../assets/icon/meat.svg" alt="buffet">
          <ion-input label="Menú destacado" labelPlacement="floating" placeholder="¿Qué comerán tus invitados?" [(ngModel)]="boda.menuestrella"></ion-input>
        </ion-item>

        <ion-item class="wordwrap">
          <img src="../../../assets/icon/beer-filled.svg" alt="traguito">
          <ion-input label="Cóctel destacado" labelPlacement="floating" placeholder="Coloca ese traguito alucinante!" [(ngModel)]="boda.tragoestrella"></ion-input>
        </ion-item>

        <ion-item class="wordwrap">
          <img src="../../../assets/icon/current-location.svg" alt="lugar">
          <ion-input label="Lugar" labelPlacement="floating" placeholder="¿Dónde será el evento?" [(ngModel)]="boda.lugar"></ion-input>
        </ion-item>

        <ion-item class="wordwrap">
          <img src="../../../assets/icon/calendar-heart.svg" alt="fecha">
          <ion-label class="ion-text-wrap custom-font">Fecha</ion-label>
          <ion-input type="date" [(ngModel)]="boda.fecha"></ion-input>
        </ion-item>
        <br>
        <ion-button shape="block" (click)="editar()">Guardar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
