@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}

//Titulo principal
#datos{
    color: #c32268;
    font-family: 'Montserrat', sans-serif;
}

.custom-font {
    font-family: 'Montserrat', sans-serif;
}