<ion-header [translucent]="true" mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/inicio/principal">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding avatar">
    <ion-avatar class="profile-picture" (click)="seleccionarImagen()">
      <img id="imagenPerfil" [src]="imagenPerfil || '../../../assets/imagenPrueba.png' " alt="Foto de perfil del usuario" />
    </ion-avatar>

  </div>

  <ion-grid>
    <ion-row>

      <ion-col size="12" >
        <div class="labelCenter">
          <ion-label color="primary" class="ion-padding labelTitulo">Nombre</ion-label>
        </div>

        <hr>
        <ion-item color="none">
          <ion-label >{{nombre}}  {{apellido}}</ion-label>
          <ion-icon slot="end" name="person" color="primary"></ion-icon>
        </ion-item>
      </ion-col>

      <ion-col size="12" >
        <div class="labelCenter">
          <ion-label color="primary" class="ion-padding  labelTitulo">Correo</ion-label>
        </div>
        <hr>
        <ion-item color="none">
          <ion-label>{{email}}</ion-label>
          <ion-icon slot="end" name="mail" color="primary"></ion-icon>
        </ion-item>
        
      </ion-col>
      <ion-col size="12" >
        <div class="labelCenter">
          <ion-label color="primary" class="ion-padding labelTitulo">Fecha de nacimiento</ion-label>
        </div>
        <hr>
        <ion-item color="none">
          <ion-label>{{fechaNac | date: 'EEEE, d MMMM y' }}</ion-label>
          <ion-icon slot="end" name="calendar" color="primary"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
