//ION GRID CSS
.iconos{
    padding-top: 5px;
    text-align: center;
}


.row{
    padding-bottom: 10px;
}


.button-with-border {
    width: 90px;
    height: 90px;
    border: 2px solid #e7a6c2; /* Negro, puedes cambiar el color */
    border-radius: 10px; /* Bordes redondeados */
    padding: 1px; /* Espaciado interno para evitar que el contenido toque el borde */
    // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
.button-label{
  color: #c32268;
}
//PERFIL DE USUARIO
//PERFIL DE USUARIO

ion-avatar {
    border: 1px solid #000; /* Borde negro, ajusta como sea necesario */
    border-radius: 30%; /* Hacerlo circular */
    overflow: hidden; /* Asegurarse de que la imagen no se desborde */
    width: 200px; 
    height: 200px; 
    margin: 0 auto;
    box-shadow:   2px 2px 2px #000000,
    -9px -9px 24px #ffeeee;
  }
  
#imagenPerfil {
    border-radius: 30%;
    width: 200px; /* Asegurar que la imagen ocupe todo el espacio del avatar */
    height: 200px; /* Mantener la proporción de la imagen */
    align-items: center;
  }
  
.ion-text-center {
    text-align: center; /* Centrar el texto debajo del avatar */
  }

#bienvenido{
  font-size: 24px;
}

#diasFaltantes{
  font-size: 20px;
  margin-bottom: 30px;

}
#userLabel{
    margin-top: 15px;
    margin-bottom: 0px;
}

  
  