
<ion-list>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="searchItems($event)"></ion-searchbar>
    <ion-item-sliding *ngFor="let item of bodas">
      <ion-card class="custom-card">
        <ion-card-header>
          <ion-card-title class="custom-title">{{ item.descripcion }}</ion-card-title>
        </ion-card-header>
        <ion-card-content class="custom-content">
          <div class="ion-text-center">
            <p class="custom-text"><strong>Lugar del evento:</strong> {{ item.lugar }}</p>
            <p class="custom-text"><strong>Fecha del evento:</strong> {{ item.fecha }}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item-sliding>
    <ion-button expand="block" (click)="setOpen(true)">Ver más</ion-button>
  </ion-list>
