<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/registro" color="primary">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="login">
    <img id="imagen" alt="login_img" src="../../assets/Mechanical Love.svg" />
  </div>
    <ion-card-content>
      <ion-item style="padding: 2vh 3vh 2vh 3vh;">
        <ion-label position="floating" color="primary" >Usuario</ion-label>
        <ion-input id="usuario-input" type="text" placeholder="Ingresa el usuario" [(ngModel)]="user.usuario" ></ion-input>
      </ion-item>
      <ion-item style="padding: 2vh 3vh 2vh 3vh;">
        <ion-label position="floating" color="primary">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col style="padding-top: 10vh;">
          <ion-button expand="block" shape="round" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>  
    </ion-card-content>
</ion-content>
