@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}


#imagen{
    width: 25vh;
    height: 25vh;
    border-radius: 15vh;
    border: 2px solid #c32268;
    background: #ffff;
    box-shadow: 1px 4px 1px 4px rgba($color: #c93877, $alpha: 0.5);
    
}

#login{
    text-align: center;
    margin-top: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


ion-header{
    --background: #f5f5f3;


}

ion-content{
    --background: #f5f5f3;
}

ion-item{
    border-radius: 15vh;
    margin: 0px 20px 8px 20px;

}

.olvidaste{
    text-align: center;
    margin-top: 0px;
}

#labelsesion{
    text-align: center;
    align-items: center;
    opacity: 0.5;
}

#usuario-input{
    border-radius: 15vh;
    border: 1vh;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: #c32268;
}

ion-item::part(native) {
    caret-color: #c32268;
  }

//Animacion para imagen de login
@-webkit-keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-top{0%{-webkit-transform:translateY(-1000px) scaleY(2.5) scaleX(.2);transform:translateY(-1000px) scaleY(2.5) scaleX(.2);-webkit-transform-origin:50% 0;transform-origin:50% 0;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateY(0) scaleY(1) scaleX(1);transform:translateY(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.slide-in-blurred-top{-webkit-animation:slide-in-blurred-top 2s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-top 2s cubic-bezier(.23,1.000,.32,1.000) both}

.text-focus-in{-webkit-animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both;animation:text-focus-in 1s cubic-bezier(.55,.085,.68,.53) both}

@-webkit-keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes text-focus-in{0%{-webkit-filter:blur(12px);filter:blur(12px);opacity:0}100%{-webkit-filter:blur(0);filter:blur(0);opacity:1}}