
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/registro" color="primary">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <p id="tituloapp" class="ion-padding">Recupera tu contraseña</p>
  <ion-item>
    <ion-label class="textoAyuda">Tranquilo, le pasa hasta a los mejores</ion-label>
  </ion-item>
  <ion-row>
    <ion-col size="12">
      <ion-item class="ion-padding correo">
        <ion-input type="email" placeholder="Correo"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-button class="ion-padding" expand="block" color="primary" shape="round">
        Recuperar
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
