
<ion-header mode="md" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/registro" color="primary">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="md">
  <p id="tituloRestore" class="ion-padding">Recupera tu contraseña</p>
  <ion-item>
    <ion-label class="textoAyuda">Enviaremos un correo para que 
      <br> puedas restablecer tu contraseña</ion-label>
  </ion-item>

  <div id="login">
    <lottie-player slot="end" autoplay loop src="https://lottie.host/d69f1fa4-eb07-4327-a795-741e4bfef458/CIERJV3bBG.json">
    </lottie-player>
  </div>

  <ion-row class="text-focus-in">
    <ion-col size="12">
      <ion-item class="ion-padding correo">
        <ion-input class="input" [(ngModel)]="email" color="primary" type="email" placeholder="Correo"></ion-input>
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-item>
    </ion-col>
    <ion-col size="12">
      <ion-button class="ion-padding" (click)="resetPassword()" expand="block" color="primary" shape="round">
        Enviar
      </ion-button>
    </ion-col>
  </ion-row>


</ion-content>
