#tituloapp{
    text-align: center;
    margin-top: 40%;
    font-size: 30px;
    //font-family: 'Dela Gothic One', cursive;
    font-family: 'Varela Round', sans-serif;
}

.correo{
    margin-top: 10%;
}

.textoAyuda{
    text-align: center;
    color: rgba(0, 0, 0, 0.321);
    }
