
<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/landing">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" routerLink="/registro" color="primary">
        Registrarse
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
    <div id="login" class="">
      <img id="imagen" alt="login_img" src="../../assets/Mechanical Love.svg" />
    </div>
    <form [formGroup] = "loginForm" class="text-focus-in">

        <ion-item>
          <ion-input placeholder="Correo" formControlName="email" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div class="shake-horizontal"*ngIf="this.loginForm.controls?.['email'].touched && this.loginForm.controls?.['email'].invalid">
          <ion-text class="error " *ngIf="errorControl.password.errors?.required">
            Se requiere correo.
          </ion-text>
        </div>

      
        <ion-item>
          <ion-input placeholder="Contraseña" type="password" formControlName="password" class="input"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
        <div class="shake-horizontal" *ngIf="this.loginForm.controls?.['password'].touched && this.loginForm.controls?.['password'].invalid">
          <ion-text class="error" *ngIf="errorControl.password.errors?.required">
            Se requiere contraseña.
          </ion-text>
        </div>

        <div class="olvidaste">
          <a (click)="olvidar()" [routerLink]="['/restore']" style="color:#c32268;"> ¿Olvidaste tu contraseña? </a>
        </div>

      <ion-row>
        <ion-col style="padding-top: 2vh; padding-left: 5vh; padding-right: 5vh;">
          <ion-button id="btnAceptar"(click)="loginIn()" expand="block" shape="round">Ingresar</ion-button>
        </ion-col>
      </ion-row>
    </form>

      <br>

      <ion-row style="padding-top: 4vh;">
        <ion-col id="labelsesion">
          <ion-label >O inicia sesion a través de</ion-label>

        </ion-col>
      </ion-row>

      <ion-row style="text-align: center;">

        <ion-col size-lg="6" size-md="6" size-sm="3" size="3">
            <ion-button fill="clear" color="dark">
              <ion-icon size="large" name="logo-google"></ion-icon>
            </ion-button>
        </ion-col>

        <ion-col size-lg="6" size-md="6" size-sm="3" size="3">
          <ion-button fill="clear" color="dark">
            <ion-icon size="large" name="logo-facebook"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size-lg="6" size-md="6" size-sm="3" size="3">
          <ion-button fill="clear" color="dark">
            <ion-icon size="large" name="logo-instagram"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size-lg="6" size-md="6" size-sm="3" size="3">
          <ion-button fill="clear" color="dark">
            <ion-icon size="large" name="logo-linkedin"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>


    

    </ion-content>