<ion-content [fullscreen]="true">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" routerLink="/login">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h4 class="ion-text-center">Organiza tu boda aqui!</h4>
  <ion-list>
    <ion-item-sliding *ngFor="let item of bodas">
      
      <ion-item>
      <ion-label>
      <p>{{ item.descripcion }}</p>
      <p>{{ item.investrella }}</p>
      <p>{{ item.menuestrella }}</p>
      <p>{{ item.tragoestrella }}</p>
      <p>{{ item.lugar }}</p>
      <p>{{ item.fecha }}</p>
      </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option (click)="editar(item)">
          <ion-icon name="create" ></ion-icon> Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(item)">
          <ion-icon name="trash"></ion-icon> Eliminar
        </ion-item-option>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">

    <ion-fab-button routerLink="/addboda">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-fab>

</ion-content>