//ION GRID CSS
.iconos{
    padding-top: 10px;
    text-align: center;
}

#row2{
    padding-bottom: 30px;
}

#row1{
  padding-bottom: 30px;
}

.button-with-border {
    width: 100px;
    height: 100px;
    border: 5px solid #e7a6c2; /* Negro, puedes cambiar el color */
    border-radius: 10px; /* Bordes redondeados */
    padding: 2px; /* Espaciado interno para evitar que el contenido toque el borde */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }
.button-label{
  color: #c32268;
}
//PERFIL DE USUARIO
//PERFIL DE USUARIO

ion-avatar {
    border: 2px solid #000; /* Borde negro, ajusta como sea necesario */
    border-radius: 50%; /* Hacerlo circular */
    overflow: hidden; /* Asegurarse de que la imagen no se desborde */
    width: 150px; 
    height: 150px; 
    margin: 0 auto;
    box-shadow:   9px 9px 24px #e292b4,
    -9px -9px 24px #ffeeee;
  }
  
img {
    width: 100%; /* Asegurar que la imagen ocupe todo el espacio del avatar */
    height: auto; /* Mantener la proporción de la imagen */
  }
  
.ion-text-center {
    text-align: center; /* Centrar el texto debajo del avatar */
  }
  
  