<ion-content [fullscreen]="true">
  <!-- <swiper-container>

    <swiper-slide>
      <ion-row>
        <ion-col>
          <p id="bienvenido">Bienvendid@ a</p>
          <p id="tituloapp" class="tracking-in-expand">LAGNA</p>
        </ion-col>

      </ion-row>
 

      <div class="container">
        <lottie-player slot="end" autoplay loop src="https://lottie.host/3a2f82e0-e80a-41de-ad85-6e5500e702fd/0lZnLzaCvJ.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="labelsesion2" class="text-focus-in">
          <ion-label>Lagna es un organizador de bodas, nosotros te ayudaremos a ordenar todo lo necesario para que tu boda sea perfecta ;-)
          </ion-label>
        </ion-col>
      </ion-row> 
  </swiper-slide> 
  

    <swiper-slide>
      <div class="container">
        <lottie-player slot="end" autoplay loop src="https://lottie.host/7df59e1d-958c-4080-befe-0fa19c09f119/kx6wFdTdy7.json">
        </lottie-player>
      </div>

      <ion-row>
        <ion-col id="detalles" class= "text-focus-in">
          <ion-label>Ten a mano todos los detalles de tu boda: fecha y lugar, sin complicaciones</ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col id="detalles2" class="text-focus-in">
          <ion-label>Invita a tus seres queridos para que vivan cada emoción de los preparativos junto a ti</ion-label>
          <br>
          <ion-label>¡Celebremos juntos este momento especial! 🎉</ion-label>
        </ion-col>
      </ion-row>

    </swiper-slide>



    <swiper-slide>
      <div class="container">
      <lottie-player slot="end" autoplay loop
        src="https://lottie.host/1913695e-db8c-4d07-b5e0-d5f582fd8056/bozzc0ArOX.json">
      </lottie-player>
  
    </div>
  
    <ion-row>
      <ion-col id="labelsesion" class="text-focus-in">
        <ion-label>Tu organizador de bodas</ion-label>
        <br>
        <ion-label>de bolsillo</ion-label>
        <br>
        <ion-label>:)</ion-label>
      </ion-col>
    </ion-row>
  
    <div>
      <ion-row>
        <ion-col>
          <ion-button class="buttoncolors text-focus-in" expand="block" routerLink="/registro" shape="round">Crear una
            cuenta</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="buttoncolors text-focus-in" expand="block" routerLink="/login" shape="round">Iniciar
            Sesión</ion-button>
        </ion-col>
      </ion-row>
    </div>
  </swiper-slide>
  </swiper-container> -->
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button color="primary" routerLink="/login">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <h4 class="ion-text-center" id="titulo">Organiza tu boda aqui!</h4>
  <ion-list>
    <ion-item-sliding *ngFor="let item of bodas">
      <ion-card-content class="full-width-card">
        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Descripción</h3>
            <p>{{ item.descripcion }}</p>
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Invitado destacado</h3>
            <p>{{ item.investrella }}</p>
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Menú destacado</h3>
            <p>{{ item.menuestrella }}</p>
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Cóctel destacado</h3>
            <p>{{ item.tragoestrella }}</p>
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Lugar del evento</h3>
            <p>{{ item.lugar }}</p>
          </ion-label>
        </ion-item>

        <ion-item class="ion-text-center">
          <ion-label class="ion-text-wrap">
            <h3>Fecha del evento</h3>
            <p>{{ item.fecha }}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>

      <ion-item-options>
        <ion-item-option (click)="editar(item)">
          <ion-icon name="create"></ion-icon> Editar
        </ion-item-option>
        <ion-item-option color="danger" (click)="eliminar(item)">
          <ion-icon name="trash"></ion-icon> Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addboda">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
