<ion-row>
  <ion-col size="12">
    <ion-card class="qrcard">
      <ion-card-header>
        <ion-card-title id="titulocard">Toca para Scannear</ion-card-title> 
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formGroup">
          <ion-item class="itemScan">
            <ion-button fill="clear" expand="block" (click)="scan()" [disabled]="!isSupported"
              ><img id="imagenqr" src="../../../assets/Qr/LAGNA.png" alt="Qr lagna"></ion-button>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
  <ion-col size="12" class="ion-padding">
    <div>
      <ion-row>
        <ion-col size="12" id="numbercodelabel">
          <ion-label>¿Tienes un codigo numerico?</ion-label>
        </ion-col>
        <ion-col>
          <ion-item color="none" id="numbercodeinput">
            <ion-input type="number" placeholder="Ingresalo aqui!" ></ion-input>
            <ion-button slot="end" fill="clear" class="input-icon-button">
              <ion-icon id="inputIcon" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-col>
</ion-row>


<ng-container *ngFor="let barcode of barcodes">
  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="fixed">Bytes</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="barcode.bytes?.toString() || ''"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Corner Points</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="barcode.cornerPoints?.toString() || ''"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Display Value</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="barcode.displayValue"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Format</ion-label>
        <ion-input type="text" readonly [value]="barcode.format"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Raw Value</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="barcode.rawValue"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Value Type</ion-label>
        <ion-input
          type="text"
          readonly
          [value]="barcode.valueType"
        ></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
</ng-container>
