

#titulocard{
    font-size: 28px;
    margin-top: 30px;
    text-align: center;


}

#imagenqr{
    margin-top: 20px;
    margin-bottom: 20px;
}



#numbercodelabel{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#inputIcon{
    font-size: 30px;
}

#numbercodeinput{
    margin: 10px 15px 10px 15px;
    align-items: center;
}

.itemScan{
    align-items: center;
    text-align: center;
    margin: 20px;
}

.qrcard {
    border-radius: 50px;
    box-shadow: 0;
    background: #f5f5f3;
    align-items: center;
}


