<ion-content [fullscreen]="true" color="tertiary">
  <div class="container">
    <lottie-player slot="end" autoplay loop src="https://lottie.host/1913695e-db8c-4d07-b5e0-d5f582fd8056/bozzc0ArOX.json">
    </lottie-player>

  </div>

  <ion-row>
    <ion-col id="labelsesion" class="text-focus-in">
      <ion-label>Tu organizador de bodas de bolsillo!. :) </ion-label>
    </ion-col>
  </ion-row>

  <div>
    <ion-row>
      <ion-col>
        <ion-button class="buttoncolors text-focus-in" expand="block" routerLink="/registro" shape="round">Crear una cuenta</ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="buttoncolors text-focus-in" expand="block" routerLink="/login" shape="round">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>