<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/home">
        <ion-icon slot="icon-only"  name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-container custom-content">
  <ion-header collapse="condense">
  </ion-header>
  

  <h1 class="ion-text-center" id="bnd">Lagna</h1>
      
  <b class="ion-text-center">
    <h4 id="registro">Registrate ya!</h4>
  </b>
      
  <!-- CREACIÓN DE FORM REGISTRO -->
  <!-- CREACIÓN DE FORM REGISTRO -->

      <form class="text-focus-in">
        <!-- Campo para colocar el nombre -->
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Nombre</ion-label>
          <ion-input placeholder="Coloca tu nombre" class="colorPlaceHolder"></ion-input>
        </ion-item>
        <br>
        <!-- Campo para colocar el apellido -->
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Apellido</ion-label>
          <ion-input placeholder="Coloca tu apellido" class="colorPlaceHolder"></ion-input>
        </ion-item>
        <br>
        <!-- Campo para colocar la fecha de nacimiento -->
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Fecha de nacimiento</ion-label>
          <ion-input placeholder="Coloca tu fecha de nacimiento" type="date" class="colorPlaceHolder"></ion-input>
        </ion-item>
        <br>
        <!-- Campo para colocar el correo electronico -->
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Email</ion-label>
          <ion-input placeholder="Coloca tu nombre" type="email" class="colorPlaceHolder"></ion-input>
        </ion-item>
        <br>
        <!-- Campos para colocar la contraseña y reingresarla denuevo -->
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Contraseña</ion-label>
          <ion-input placeholder="Ingresa tu contraseña" type="password" class="colorPlaceHolder"></ion-input>
        </ion-item>
        <br>
        <ion-item class="form">
          <ion-label position="floating" class="colorLabel">Valida contraseña</ion-label>
          <ion-input placeholder="Reingresa tu contraseña" type="password" class="colorPlaceHolder"></ion-input>
        </ion-item>
        
      </form>

  <!--CREACIÓN DE BUTTON ACEPTAR  -->
  <!--CREACIÓN DE BUTTON ACEPTAR  -->

  <div class="ion-text-center">
    <ion-button shape="round" id="btnAceptar">Aceptar</ion-button>
  </div>
  
</ion-content>